/* 1st div */
body {
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
}

.background_one {
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    
}

li {
    padding: 0 10px;
}

.ul_two li a {
    font-size: 18px;
    color: #e5e7eb;
}

.ul_one li a {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

.part {
    display: flex;
    justify-content: space-between;
    margin-left: 82px;
    margin-bottom: 10px;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
    margin-bottom: 5px;
}

.secon_hero {
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px 0;
}

button {
    padding: 5px 10px;
    background-color: #3882f6;
    border-radius: 5px;
    border: 0;
}

.image {
    height: 200px;
    background-color: grey;
    width: 400px;
    margin-right: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    margin-top: 35px;
}

/* 2nd div */
.container_two{
    display: flex;
    justify-content: center;
}

.container_two p {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
    margin: 20px 0;
}

.container_three {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pic{
    width: 50px;
    height: 50px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.container_four {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 135px;
}