body {
    background-image: url("https://plus.unsplash.com/premium_photo-1661607046089-56e8f12ee0f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat;
    background-size: cover;
}

.score {
    display: flex;
    justify-content: space-evenly;
    font-size: larger;
    font-weight: 900;
}

.button {
    display: flex;
    justify-content: center;
    gap: 29px;
}

button {
    font-size: 45px;
    outline: none;
    margin: 20px;
    background: none;
    border: none;
    transition: 100ms;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}

span {
    display: flex;
    justify-content: center;
    margin: 10px;
}